.all-content {
    display: block;
    justify-content: center;
    width: 95%;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
}

.content-top {
    display: flex;
    justify-content: center;
}

.top-left {
    flex-grow: 1;
}

.top-middle {
    flex-grow: 2;
}

.top-right {
    flex-grow: 1;
}

.puppy-image {
    width: 90%;
}